PORT=
SWAGGER_SERVER_URL=
JWT_SECRET=
SALT_ROUNDS=
SECRET_KEY=
MONGO_URI=
FRONTEND_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# secure roles
ADMIN_ROLE=admin
BUYER_ROLE=buyer
ARTISAN_ROLE=artisan  


# SendGrid (optional - use SMTP relay credentials)
SENDGRID_API_KEY=
